<!-- <!DOCTYPE web-app PUBLIC -->
<!-- "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" -->
<!-- "http://java.sun.com/dtd/web-app_2_3.dtd" > -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Sprint2</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sprint2</servlet-name>
		<url-pattern>/bin/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>transactionFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>transactionFilter</param-value>
		</init-param>
		<init-param>
			<param-name>contextAttribute</param-name>
			<param-value>org.springframework.web.servlet.FrameworkServlet.CONTEXT.Sprint2
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>transactionFilter</filter-name>
		<url-pattern>/bin/*</url-pattern>
	</filter-mapping>

</web-app>
